/************************************************************
				Box Sizing
************************************************************/
.pciwgas-column, .pciwgas-columns {-webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;}
.pciwgas-post-cat-grid *, .pciwgas-post-cat-slider *{-webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;}

/************************************************************
				clearfix
************************************************************/

.pciwgas-clearfix:before, .pciwgas-clearfix:after{content: ""; display: table;}
.pciwgas-clearfix:after{clear: both;}

/************************************************************
				Image CSS
************************************************************/
.pciwgas-cat-wrap .pciwgas-img-wrapper img.pciwgas-cat-img{width: 100%;height: 100%;object-position: top center;object-fit: cover;-o-object-fit: cover;-o-object-position: top center; display: block;}
.pciwgas-cat-wrap .pciwgas-img-wrapper img.pciwgas-cat-img{border-radius: 0; display:block; max-width:100%; max-height:100%; box-shadow: none; margin:0 auto;}
.pciwgas-cat-wrap  .pciwgas-img-wrapper{overflow:hidden}
/************************************************************
				Common CSS CSS
************************************************************/
.pciwgas-cat-slider-main{visibility: hidden;opacity:0;-webkit-transition: opacity 0.5s linear;transition:opacity 0.5s linear;}
.pciwgas-cat-slider-main.slick-initialized{visibility: visible; opacity:1;}
.pciwgas-post-cat-inner .pciwgas-title a{font-weight: bold; text-decoration:none;}
.pciwgas-first{clear:both;}
.pciwgas-cat-wrap{margin:0 -15px;}
.pciwgas-cat-wrap.pciwgas-cat-wrap-slider {margin:0px; }
.pciwgas-cat-wrap .pciwgas-post-cat-inner{margin-bottom:30px;}
.pciwgas-cat-wrap.pciwgas-cat-wrap-slider .pciwgas-post-cat-inner{margin-bottom:0px;}
.pciwgas-cat-wrap .pciwgas-description{font-size:15px; padding:10px 0;text-align:center;}
.pciwgas-slider-conf{display:none;}
.pciwgas-cat-wrap .slick-arrow{top:50%;-webkit-transform: translateY(-50%) !important;transform: translateY(-50%) !important;}
.pciwgas-cat-wrap button.slick-next{right:5px;}
.pciwgas-cat-wrap button.slick-prev{left:5px;}
.pciwgas-cat-wrap  .pciwgas-post-cat-slider .pciwgas-post-cat-inner {padding:0 10px;}
a.pciwgas-hover {position: absolute;top: 0;left: 0;right: 0;height: 100%;width: 100%;z-index:3;}
/************************************************************
				Slick Slider
************************************************************/
.pciwgas-cat-slider-main button.slick-arrow { width:15px; height:50px; position:absolute; z-index:999; text-indent:-99999px;border:0px !important;padding:20px 15px !important; text-align:center; margin:0px !important; border-radius:0px !important}
.pciwgas-cat-slider-main button.slick-next, 
.pciwgas-cat-slider-main button.slick-next:hover,  
.pciwgas-cat-slider-main button.slick-next:focus{background: rgba(0, 0, 0, 0.60) url('../images/arrow-right.png') center center no-repeat !important; background-size:15px 26px !important;}
.pciwgas-cat-slider-main button.slick-prev, 
.pciwgas-cat-slider-main button.slick-prev:hover, 
.pciwgas-cat-slider-main button.slick-prev:focus{background: rgba(0, 0, 0, 0.60) url('../images/arrow-left.png') center center no-repeat !important;background-size:15px 26px !important;}

.pciwgas-cat-slider-main .slick-dots{padding:0 !important; margin:5px 0 5px 0 !important; text-align:center; width:100%; line-height: normal; position: relative;bottom: 0;}
.pciwgas-cat-slider-main .slick-dots li button{text-indent:-99999px;}
.pciwgas-cat-slider-main .slick-dots li button:focus{outline:none !important}
.pciwgas-cat-slider-main .slick-dots li {vertical-align: middle;list-style: none !important;display: inline-block !important;margin: 0 3px !important;padding: 0px !important; font-size: 0;}
.pciwgas-cat-slider-main .slick-dots li button {background: #fff !important;margin: 0px !important;padding: 0px !important;border: 2px solid #444;border-radius: 50% !important;width: 12px !important;height: 12px !important;box-shadow: 0px 0px 10px rgba(255,255,255,0.15);opacity: 0.8;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";vertical-align: middle;}
.pciwgas-cat-slider-main .slick-dots li.slick-active button {background: #8D8C8C !important;border: 2px solid #444 !important;}


.slick-loading .slick-list{ background: #fff url('ajax-loader.gif') center center no-repeat;}
.slick-slider{ position: relative;display: block;box-sizing: border-box; -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none; user-select: none;-webkit-touch-callout: none;-khtml-user-select: none;-ms-touch-action: pan-y;touch-action: pan-y;-webkit-tap-highlight-color: transparent;}
.slick-list{position: relative;display: block; overflow: hidden;  margin: 0; padding: 0;}
.slick-list:focus{outline: none;}
.slick-list.dragging{cursor: pointer;cursor: hand;}
.slick-slider .slick-track,
.slick-slider .slick-list{-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
.slick-track{position: relative;top: 0;left: 0;display: block;}
.slick-track:before,
.slick-track:after{display: table;content: '';}
.slick-track:after{clear: both;}
.slick-loading .slick-track{ visibility: hidden;}
.slick-slide{display: none;float: left;height: 100%;min-height: 1px;}
[dir='rtl'] .slick-slide{float: right;}
.slick-slide img{display: block;}
.slick-slide.slick-loading img{display: none;}
.slick-slide.dragging img{pointer-events: none;}
.slick-initialized .slick-slide{display: block;}
.slick-loading .slick-slide{visibility: hidden;}
.slick-vertical .slick-slide{display: block;height: auto;border: 1px solid transparent;}
.slick-arrow.slick-hidden {display: none;}

/************************************************************
				Designs
************************************************************/
.pciwgas-cat-wrap.pciwgas-cat-wrap-slider{overflow:hidden}
.pciwgas-cat-wrap.pciwgas-cat-wrap-slider .pciwgas-cat-slider-main {margin:0 -4px; }
/*******************Design-1********************************/
.pciwgas-design-1 .pciwgas-post-cat-inner{border: 1px solid #f1f1f1;}
.pciwgas-design-1 .pciwgas-img-wrapper {height: 250px;position: relative;}
.pciwgas-design-1 .pciwgas-description {padding: 15px;}
.pciwgas-design-1 .pciwgas-post-cat-inner .pciwgas-title a{ display:block; color: #fff;padding:15px 10px; text-align: center;width: 100%;font-size: 16px;text-transform: capitalize;background:#23527c; font-weight: 700;}
.pciwgas-design-1 .pciwgas-post-cat-inner .pciwgas-cat-count + .pciwgas-title a{padding:30px 10px 15px 10px;}
.pciwgas-design-1 .pciwgas-bottom-wrapper{background: rgba(255,255,255,0.9);position: relative;width: 100%;float: left;}
.pciwgas-design-1 .pciwgas-post-cat-inner .pciwgas-cat-count{background:#23527c;border-radius: 50%;color: rgb(255, 255, 255);display: block;font-size: 16px;height: 48px;line-height: 40px;width: 48px;margin: -25px auto;font-weight: 800;text-align: center;border: 3px solid #fff;position: relative;z-index: 9;}


/*******************Design-2********************************/
.pciwgas-design-2 .pciwgas-post-cat-inner{width: 100%;background-color: #ffffff;overflow: hidden;text-align: center; border: 1px solid #4527a0;}
.pciwgas-design-2 .pciwgas-post-cat-inner .pciwgas-img-wrapper{height: 270px; position: relative; overflow:hidden;}
.pciwgas-design-2 .pciwgas-post-cat-inner .pciwgas-title{color: #fff;font-size: 14px;text-transform: uppercase;font-weight: 700;}
.pciwgas-design-2 .pciwgas-bottom-wrapper {padding: 15px; background: #eee; text-align: left;}
.pciwgas-design-2 .pciwgas-cat-description {max-height: 100%;overflow: hidden;}
.pciwgas-design-2 .pciwgas-post-cat-inner .pciwgas-title a{color:#fff}
.pciwgas-design-2 .pciwgas-bottom-title {position: absolute;background: rgba(179,157,219,0.8);bottom: 15px;left: 15px;border-left: 3px solid #4527a0;padding: 10px;text-align: left;transition: 0.4s all;-webkit-transition: 0.4s all;width: 50%;}
.pciwgas-design-2 .pciwgas-post-cat-inner .pciwgas-cat-count {width: 35px;height: 35px;background: #4527a0;display: block;line-height: 35px;text-align: center;color: #fff;font-weight: 600; margin-bottom: 10px;}
.pciwgas-design-2 .pciwgas-post-cat-inner .pciwgas-img-wrapper img{width:calc(100% + 20px);max-width: calc(100% + 20px);-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;-ms-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease;}
.pciwgas-design-2 .pciwgas-post-cat-inner:hover .pciwgas-img-wrapper img {-webkit-transform: translate3d(-18px, 0, 0);transform: translate3d(-18px, 0, 0);}
.pciwgas-design-2.pciwgas-image-fit.pciwgas-old-browser .pciwgas-post-cat-inner .pciwgas-cat-img-bg{background-position: 45% top !important; transition: 0.3s all linear; -webkit-transition: 0.3s all linear;}
.pciwgas-design-2.pciwgas-image-fit.pciwgas-old-browser .pciwgas-post-cat-inner:hover .pciwgas-cat-img-bg{background-position: 60% top !important; transition: 0.3s all linear; -webkit-transition: 0.3s all linear;}
.pciwgas-design-2 .pciwgas-image-overlay {position: absolute;top: 0;left: 0;right: 0;width: 100%;height: 100%;opacity: 0;-webkit-transition: 0.7s ease-in-out;transition: 0.7s ease-in-out;background: rgba(255,255,255,0.45);}
.pciwgas-design-2 .pciwgas-post-cat-inner:hover .pciwgas-image-overlay {opacity: 1;}
.pciwgas-design-2.pciwgas-col-4 .pciwgas-bottom-title {width: auto;right: 15px;}
.pciwgas-design-2 .pciwgas-description {padding: 15px;}

.pciwgas-cat-wrap-slider.pciwgas-design-2 .pciwgas-post-cat-grid{padding:0 5px;}

/*******************Design-3********************************/
.pciwgas-design-3 .pciwgas-post-cat-inner{width: 100%;overflow: hidden;position: relative;text-align: center;}
.pciwgas-design-3 .pciwgas-img-wrapper {height: 250px;position: relative;}
.pciwgas-design-3 .pciwgas-bottom-wrapper{position: relative;padding: 10px;background: rgba(27,22,28,0.95);}
.pciwgas-design-3 .pciwgas-post-cat-inner .pciwgas-title a{font-size: 16px;font-weight: 600;text-transform: capitalize;color: #EBEBEB;}
.pciwgas-design-3 .pciwgas-post-cat-inner .pciwgas-cat-count {color: #d3d3d3;display: block;font-size: 16px;line-height: 45px;position: absolute;top: 10px;width: 45px;height: 45px;bottom: auto;right: 10px;box-shadow: 0px 2px 5px rgba(1, 1, 1, 0.22);-webkit-box-shadow: 0px 2px 5px rgba(1, 1, 1, 0.22);border-radius: 5%;text-shadow: 1px 2px 2px rgba(0,0,0,0.50);background: rgba(244,101,76,1);background: -moz-linear-gradient(45deg, rgba(244,101,76,1) 0%, rgba(240,123,69,1) 100%);background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(244,101,76,1)), color-stop(100%, rgba(240,123,69,1)));background: -webkit-linear-gradient(45deg, rgba(244,101,76,1) 0%, rgba(240,123,69,1) 100%);background: -o-linear-gradient(45deg, rgba(244,101,76,1) 0%, rgba(240,123,69,1) 100%);background: -ms-linear-gradient(45deg, rgba(244,101,76,1) 0%, rgba(240,123,69,1) 100%);background: linear-gradient(45deg, rgba(244,101,76,1) 0%, rgba(240,123,69,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4654c', endColorstr='#f07b45', GradientType=1 );font-weight: 600;z-index: 11;}
.pciwgas-design-3 .pciwgas-line {margin: 10px auto 10px;}
.pciwgas-design-3 .pciwgas-description {color: #EBEBEB; padding: 5px;}
.pciwgas-design-3 .pciwgas-img-wrapper a:before{-webkit-transition: all .6s ease;transition: all .6s ease;content: "";background: rgba(27,22,28,0.55);top: -100%;left: 0px;bottom: 0px;position: absolute;height: 100%;width: 100%;z-index: 1;}
.pciwgas-design-3 .pciwgas-img-wrapper a:after{-webkit-transition: all .6s ease;transition: all .6s ease;content: "";background: rgba(27,22,28,0.55);right: -100%;top: 0px;bottom: 0px;position: absolute;height: 100%;width: 100%;z-index: 1;}
.pciwgas-design-3 .pciwgas-post-cat-inner:hover .pciwgas-img-wrapper a:before{top: 0%;}
.pciwgas-design-3 .pciwgas-post-cat-inner:hover .pciwgas-img-wrapper a:after{right: 0%;}
.pciwgas-design-3 .pciwgas-img-wrapper img {-webkit-transition: all 200ms ease-in;-webkit-transform: scale(1);ms-transform: scale(1);-moz-transform: scale(1);transition: all 200ms ease-in;-moz-transition: all 200ms ease-in; -ms-transition: all 200ms ease-in;transform: scale(1);}
.pciwgas-design-3 .pciwgas-post-cat-inner:hover .pciwgas-img-wrapper img {transform: scale(1.2);-webkit-transform: scale(1.2);-ms-transition: all 200ms ease-in;-moz-transition: all 200ms ease-in;transition: all 200ms ease-in;}
.pciwgas-line{width: 30px;height: 2px;display: block;background: #f5614d !important;margin: 0px auto 10px;}

.pciwgas-cat-wrap-slider.pciwgas-design-3 .pciwgas-post-cat-grid{padding:0 5px;}

/*******************Design-4********************************/
.pciwgas-design-4 .pciwgas-post-cat-inner{width: 100%; background-color: rgb(255, 255, 255);overflow: hidden;position: relative;text-align: center;}
.pciwgas-design-4 .pciwgas-img-wrapper{height: 250px; position: relative;}
.pciwgas-design-4 .pciwgas-img-wrapper > a {display: inline;}
.pciwgas-design-4 .pciwgas-img-wrapper > a::before {content: "";position: absolute;width: 0;height: 0;background: rgba(38, 194, 129, 0.35);top: 0;-webkit-transition: all 0.3s ease;transition: all 0.3s ease;left: 0;z-index: 1;}
.pciwgas-design-4 .pciwgas-img-wrapper > a::after {content: "";position: absolute;width: 0;height: 0;background: rgba(38, 194, 129, 0.35);bottom: 0;-webkit-transition: all 0.3s ease;transition: all 0.3s ease;right: 0;}
.pciwgas-design-4 .pciwgas-post-cat-inner:hover .pciwgas-img-wrapper > a::before,
.pciwgas-design-4 .pciwgas-post-cat-inner:hover .pciwgas-img-wrapper > a::after {height: 100%;-webkit-transition: all 0.4s ease-out 0s;transition: all 0.4s ease-out 0s;width: 100%;}
.pciwgas-design-4 .pciwgas-post-cat-inner .pciwgas-cat-count {position: absolute;top: 10px;left: 10px;background: #26C281;width: 35px;height: 35px;line-height: 35px;color: #000;border-radius: 50%;box-shadow: 1px 1px 6px rgba(0,0,0,0.50);font-size: 16px;z-index: 9}
.pciwgas-design-4 .pciwgas-bottom-wrapper{padding: 10px;display: block;}
.pciwgas-design-4 .pciwgas-post-cat-inner .pciwgas-title a{position: relative;margin: -30px auto 0px auto;width: 86%;color: #fff;padding: 7px;font-size: 14px;text-transform: capitalize;display: block;text-align: center;background: #26C281;z-index: 9}

.pciwgas-cat-wrap-slider.pciwgas-design-4 .pciwgas-post-cat-grid{padding:0 5px;}

/*******************Design-5********************************/
.pciwgas-design-5 .pciwgas-img-wrapper {position: relative;overflow: hidden;height: 300px;width: 100%;margin-bottom: 0;background-color: #ededed;}
.pciwgas-design-5 .pciwgas-img-wrapper a::after {content: '';height: 100%;width: 100%;background: rgba(37, 116, 169, 0.50);position: absolute;top: -100%;bottom: 0;left: 0;-webkit-transition: all 0.6s ease-in-out;transition: all 0.6s ease-in-out;}
.pciwgas-design-5 .pciwgas-post-cat-inner:hover .pciwgas-img-wrapper a::after{top: 0;left:0;right:0;bottom: 0;}
.pciwgas-design-5 .pciwgas-bottom-content{padding: 10px; text-align: center;}
.pciwgas-design-5 .pciwgas-description {margin: 0px;}
.pciwgas-design-5 .pciwgas-post-cat-inner{width: 100%;background-color: rgb(255, 255, 255);overflow: hidden;position: relative;text-align: center;border: 2px solid #2574A9;}
.pciwgas-design-5 .pciwgas-post-cat-inner > a {margin: 0px;}
.pciwgas-design-5 .pciwgas-post-cat-inner .pciwgas-title a{color: #333;font-size: 15px;font-weight: 700;text-transform: uppercase;display: block;margin: 0px;}
.pciwgas-design-5 .pciwgas-bottom-wrapper {margin: 5px 0px 0px;}
.pciwgas-design-5 .pciwgas-post-cat-inner .pciwgas-cat-count {font-weight: 700;-webkit-transition: all 0.5s ease 0s;transition: all 0.5s ease 0s;display: block;font-size: 16px;width: 45px;line-height: 40px;text-align: center;margin: 5px auto 10px;height: 40px;background: #2574A9;color: #fff;position: relative;box-shadow: 0px 0px 2px rgba(0,0,0,0.50);-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.50);}
.pciwgas-design-5 .pciwgas-post-cat-inner img {-webkit-transition: all 0.5s ease 0s;transition: all 0.5s ease 0s;}
.pciwgas-design-5 .pciwgas-post-cat-inner:hover img{-webkit-transform:scale(1.25);transform:scale(1.25);-webkit-transition: all 0.5s ease 0s;transition: all 0.5s ease 0s;}

.pciwgas-cat-wrap-slider.pciwgas-design-5 .pciwgas-post-cat-grid{padding:0 5px;}

/*******************Design-6********************************/
.pciwgas-design-6 .pciwgas-post-cat-inner{width: 100%;background-color: rgb(255, 255, 255);overflow: hidden;position: relative;text-align: center;}
.pciwgas-design-6 .pciwgas-img-wrapper{height: 250px; position: relative;overflow: hidden;transition: 0.4s all;-webkit-transition: 0.4s all;}
.pciwgas-design-6 .pciwgas-post-cat-inner .pciwgas-title a{color: #fff;padding: 10px;background:#E7505A;-webkit-transition: all 0.5s ease 0s;transition: all 0.5s ease 0s;font-weight: 600;text-transform: capitalize;font-size: 14px;display:block;}
.pciwgas-design-6 .pciwgas-cat-description {padding: 10px;border:1px solid #d3d3d3;}
.pciwgas-design-6 .pciwgas-post-cat-inner .pciwgas-cat-count {font-weight: 700;display:block;font-size: 16px;height: 40px;left: 0;position: absolute;top: 0px;width: 40px;line-height: 40px;background-color: #E7505A;color: #fff;border-bottom-right-radius: 0;box-shadow: 0px 0px 0px 7px;z-index: 9}
.pciwgas-design-6 .pciwgas-post-cat-inner .pciwgas-img-wrapper img {transition: 0.5s ease 0s;-webkit-transition: 0.5s ease 0s;}
.pciwgas-design-6 .pciwgas-post-cat-inner:hover .pciwgas-img-wrapper img{-webkit-transform:rotateY(-180deg);transform:rotateY(-180deg);}
.pciwgas-cat-wrap-slider.pciwgas-design-6 .slick-list{margin:0 -5px; overflow:hidden}
.pciwgas-cat-wrap-slider.pciwgas-design-6 .pciwgas-post-cat-grid{padding:0 5px;}

.pciwgas-cat-wrap-slider.pciwgas-design-6 button.slick-next{right:0px;}
.pciwgas-cat-wrap-slider.pciwgas-design-6 button.slick-prev{left:0px;}
/*******************Design-7********************************/
.pciwgas-design-7 .pciwgas-post-cat-inner{width: 100%;background-color: rgb(255, 255, 255);overflow: hidden;position: relative;text-align: center;-webkit-transition: all .4s ease-in;transition: all .4s ease-in;}
.pciwgas-design-7 .pciwgas-img-wrapper {height: 280px; position: relative; overflow:hidden;}
.pciwgas-design-7 .pciwgas-bottom-wrapper{background: #202020;padding: 10px;color: #fff;}
.pciwgas-design-7 .pciwgas-post-cat-inner .pciwgas-title{transition: all 0.5s ease 0s;color: #fff;-webkit-transition: all 0.5s ease 0s;transition: all 0.5s ease 0s;font-size: 15px;font-weight:700;text-transform: uppercase;position: absolute;left: 0;right: 0;bottom: 0;padding: 10px;background: rgba(0, 0, 0, 0.45);z-index:1;}
.pciwgas-design-7 .pciwgas-post-cat-inner .pciwgas-cat-count{position: absolute;right: 0px;top: 20px;background: rgba(26,188,156,0.70);width: 70px;height: 35px;line-height: 35px;color: #fff;font-weight: bold;font-size: 16px;border-bottom-left-radius: 2px;border-top-left-radius: 2px;text-shadow: 1px 2px 2px rgba(0,0,0,0.50);transition: 0.4s all;-webkit-transition: 0.4s all;z-index:1;}
.pciwgas-design-7 .pciwgas-img-wrapper img {-webkit-transition: all .5s ease-in;transition: all .5s ease-in;}
.pciwgas-design-7 .pciwgas-post-cat-inner:hover .pciwgas-img-wrapper img{-webkit-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);}
.pciwgas-design-7 .pciwgas-post-cat-inner:hover{box-shadow: 0px 1px 6px rgba(0,0,0,0.50);-webkit-box-shadow: 0px 1px 6px rgba(0,0,0,0.50);-webkit-transition: all .5s ease-in;transition: all .5s ease-in;}

.pciwgas-cat-wrap-slider.pciwgas-design-7 .pciwgas-post-cat-grid{padding:0 5px;}

/*******************Design-8********************************/
.pciwgas-design-8 .pciwgas-post-cat-inner{width: 100%;background-color: rgb(255, 255, 255);overflow: hidden;position: relative;text-align: center;}
.pciwgas-design-8 .pciwgas-img-wrapper{height: 300px; position: relative; overflow: hidden;}
.pciwgas-design-8 .pciwgas-bottom-wrapper {opacity: 0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";height: 0;-webkit-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;text-align:left;}
.pciwgas-design-8 .pciwgas-post-cat-inner .pciwgas-title{font-size: 15px;font-weight: 700;text-transform: uppercase;text-align: left;margin-top: 10px;}
.pciwgas-design-8 .pciwgas-post-cat-inner .pciwgas-cat-count{background: #ffab00;color:#333;font-size: 15px;width: 35px;line-height: 32px;font-weight: 700;height: 35px;display: block;}
.pciwgas-design-8 .pciwgas-post-cat-inner:hover .pciwgas-bottom-content {height: 100%;}
.pciwgas-design-8 .pciwgas-bottom-content {position: absolute;left: 0;right: 0;bottom: 0;background-image: -webkit-linear-gradient(top,rgba(0,0,0,0) 0px,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.7) 100%);background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0px,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.7) 100%);display: block;height: 35%;color: #fff; -webkit-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; padding: 20px; z-index:1;}
.pciwgas-design-8 .pciwgas-post-cat-inner:hover .pciwgas-bottom-wrapper {opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";height: 100%;margin-top: 8px;}
.pciwgas-design-8 .pciwgas-post-cat-inner .pciwgas-description{text-align:left;}

.pciwgas-cat-wrap-slider.pciwgas-design-8 .pciwgas-post-cat-grid{padding:0 5px;}

/*******************Design-9********************************/
.pciwgas-design-9 .pciwgas-img-wrapper{height: 280px; position: relative;}
.pciwgas-design-9 .pciwgas-post-cat-inner{width: 100%;background-color: rgb(255, 255, 255);overflow: hidden;position: relative;text-align: center;box-shadow: 0px 4px 8px 2px rgb(238, 238, 238);-webkit-box-shadow: 0px 4px 8px 2px rgb(238, 238, 238);}
.pciwgas-design-9 .pciwgas-post-cat-inner .pciwgas-cat-count {display:inline-block; font-size: 16px; width: 45px; line-height: 40px; background-color: #13A89E;color: #fff;font-weight: 700; position: absolute; top: 0; right: 0; z-index:2; height: 40px;text-shadow: 0px 2px 5px rgba(0,0,0,0.50);}
.pciwgas-design-9 .pciwgas-bottom-wrapper{padding:10px;}
.pciwgas-design-9 .pciwgas-post-cat-inner .pciwgas-title .pcffwp-title-overlay {transition: all 0.5s ease 0s;color: #fff;-webkit-transition: all 0.5s ease 0s;font-size: 15px;font-weight: bold;text-transform: uppercase;padding: 10px 0;position: relative;text-shadow: 0 1px 2px #000;}
.pciwgas-design-9 .pciwgas-post-cat-inner .pciwgas-title .pcffwp-title-overlay:after,
.pciwgas-design-9 .pciwgas-post-cat-inner .pciwgas-title .pcffwp-title-overlay:before {content: '';width: 100%;height: 2px;background: #fff;position: absolute;-webkit-transform: scale3d(0,1,1);transform: scale3d(0,1,1);-webkit-transition: -webkit-transform 0.5s;transition: -webkit-transform 0.5s;transition: transform 0.5s;transition: transform 0.5s, -webkit-transform 0.5s;}
.pciwgas-design-9 .pciwgas-post-cat-inner .pciwgas-title .pcffwp-title-overlay:after{left: 0;bottom: 0;-webkit-transform-origin: 0 50%;transform-origin: 0 50%;}
.pciwgas-design-9 .pciwgas-post-cat-inner:hover .pciwgas-title .pcffwp-title-overlay::after,
.pciwgas-design-9 .pciwgas-post-cat-inner:hover .pciwgas-title .pcffwp-title-overlay::before{-webkit-transform: scale3d(1,1,1);transform: scale3d(1,1,1);}
.pciwgas-design-9 .pciwgas-title {display:block; position:absolute; bottom:10px; left:0; right:0; padding:10px; line-height:40px; z-index:2;}
.pciwgas-design-9 .pciwgas-post-cat-inner:hover .design-overlay{opacity: 1;}
.pciwgas-design-9 .design-overlay {background: rgba(18,29,47,0.7);top: 0;left: 0;width: 100%;height: 100%;position: absolute;opacity: 0.4;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease; z-index:1;}

.pciwgas-cat-wrap-slider.pciwgas-design-9 .pciwgas-post-cat-grid{padding:0 5px;}
.pciwgas-cat-wrap-slider.pciwgas-design-9 .pciwgas-post-cat-inner{margin-bottom:10px;}


/*******************Design-10********************************/
.pciwgas-design-10 .pciwgas-post-cat-inner{width: 100%;background-color: rgb(255, 255, 255);overflow: hidden;position: relative;text-align: center; border: 1px solid #85A580;}
.pciwgas-design-10 .pciwgas-img-wrapper{height: 250px; position: relative; overflow: hidden;}
.pciwgas-design-10 .pciwgas-bottom-wrapper{padding: 10px;background: rgba(34, 34, 34, 0.01);}
.pciwgas-design-10 .pciwgas-post-cat-inner .pciwgas-title a{color: rgb(80, 84, 96);-webkit-transition: all 0.5s ease 0s;transition: all 0.5s ease 0s;font-size: 14px;font-weight: 700;text-transform: capitalize;text-align: center;display: block;}
.pciwgas-design-10 .pciwgas-post-cat-inner .pciwgas-cat-count{display: block;color: rgb(255, 255, 255);background: rgba(145,196,153,0.70);width: 45px;line-height: 45px;position: absolute;top: 0;height: 45px;font-size: 16px;border-bottom-left-radius: 50px;right: 10px;border-bottom-right-radius: 50px;font-weight: 600;text-shadow: 1px 2px 2px rgba(0,0,0,0.50);transition: 0.4s all;-webkit-transition: 0.4s all;z-index:1;}
.pciwgas-design-10 .pciwgas-post-cat-inner:hover .pciwgas-cat-count{height: 60px;}
.pciwgas-design-10 .pciwgas-post-cat-inner .pciwgas-cat-description {border-top:3px solid rgba(145,196,153,0.70);;padding-top: 10px;margin-top: 10px;}
.pciwgas-design-10 .pciwgas-img-wrapper img{-webkit-filter: grayscale(0);filter: grayscale(0);-webkit-transition: .3s ease-in-out;transition: .3s ease-in-out;}
.pciwgas-design-10 .pciwgas-post-cat-inner:hover .pciwgas-img-wrapper img{-webkit-filter: grayscale(100%);filter: grayscale(100%);-webkit-transition: .3s ease-in-out;transition: .3s ease-in-out;}

.pciwgas-cat-wrap-slider.pciwgas-design-10 .pciwgas-post-cat-grid{padding:0 5px;}
.pciwgas-cat-wrap-slider.pciwgas-design-10 .pciwgas-post-cat-inner{margin-bottom:10px;}


/************************************************************
				Grid
************************************************************/
.pciwgas-column,
.pciwgas-columns {padding-left: 0.9375em;padding-right: 0.9375em;width: 100%;float: left; position: relative;}

@media only screen {
.pciwgas-column,
.pciwgas-columns {position: relative;padding-left: 0.9375em;padding-right: 0.9375em;float: left;}
}
@media only screen and (min-width: 40.0625em) {  
.pciwgas-column,
.pciwgas-columns {position: relative;padding-left: 0.9375em;padding-right: 0.9375em;float: left; }
.pciwgas-medium-1 {width: 8.33333%;}
.pciwgas-medium-2 {width: 16.66667%;}
.pciwgas-medium-3 {width: 25%;}
.pciwgas-medium-4 {width: 33.33333%;}
.pciwgas-medium-5 {width: 41.66667%;}
.pciwgas-medium-6 {width: 50%;}
.pciwgas-medium-7 {width: 58.33333%;}
.pciwgas-medium-8 {width: 66.66667%;}
.pciwgas-medium-9 {width: 75%;}
.pciwgas-medium-10 {width: 83.33333%;}
.pciwgas-medium-11 {width: 91.66667%;}
.pciwgas-medium-12 {width: 100%;}
}